body{
    background-color: aqua;
}

#chessBoard{
    display: none;
    flex-direction: column;
}
.line{
    display: flex;
}
.white{
    height: 50px;
    width: 50px;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.black{
    height: 50px;
    width: 50px;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#chessBoardContainer{
    display: none;
    background-color: blueviolet;
}
#homePageConnexionBt{
    display: none;
    justify-content: center;
    gap: 1%;
    height: 100%;
    margin-top: 30%;
}
#homePageConnexionBt > input {
    border: 1px solid black;
    border-radius: 50px;
    font-size: 30px;
    padding: 10px;
    background-color: transparent;
}
#subscribeForm{
    display: none;
    margin: auto;
    width: 50%;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border: 1px solid black;
}
#subscribeForm > input{
    width: 30%;
    margin: auto;
}
#loginForm{
    display: none;
    margin: auto;
    width: 50%;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border: 1px solid black;
}
#loginForm > input{
    width: 30%;
    margin: auto;
}
#btsLogin, #btsSubscribe{
    display: flex;
    justify-content: center;
    gap: 5px;
}
#homePageUserConnected{
    display: none;    
    background-color: bisque;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#createGameForm{
    display: none;
    width: 40%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    padding: 40px;
    background-color: white;
}
#createGameForm > div{
    margin: 20px;
}
#searchedOpponent{
    border: 3px solid green;
    color: green;
    border-radius: 50px;

}