body{
    background-color: aqua;
}

#chessBoard{
    display: flex;
}

.white{
    height: 50px;
    width: 50px;
    background-color: white;
}
.black{
    height: 50px;
    width: 50px;
    background-color: black;
}